body{
    margin: 0;
    padding: 0;

}

.principal{
  display:flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.menu{
  width: 20%;
  height: 80vh;
  background-color: burlywood;
}

.contenedor{
  width: 80%;
  height: 80vh;
  background-color: black;
}

.reproductor{
  width: 100%;
  height: 20vh;
  background-color: aqua;
}

.buscador{
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.contenido{
  width: 100%;
  height: 90%;
  display: flex;
  background-color: black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  padding: 15px;
}

.card {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.imgStyle {
  width: 100px!important;
  height: 100px!important;
}

.cardStyle {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.songname {
  font-family: 'Tilt Warp', cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.artistname {
  font-family: 'Tilt Warp', cursive;
  font-size: .8rem;
  font-weight: 400;
  color: white; 
}

.inputBuscador {
  background: #858585;
    width: 70%;
    border-radius: 10px;
}


.iconoBuscar {
  margin-left: 10px;
  color: white;
}

.logoImg {
  width: 100%;
  padding: 4px;
}

.logoImg:hover{
  cursor: pointer;
}

.bandera {
  width: 33%
}

.paises {
  display: flex;
  flex-direction: column;
}

.renglon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.columna {
  display: flex;
  flex-direction: column!important;
}